/*border: 3px solid purple
#eee2dc #edc7b7 #bab2b5  #ac3b61 #123c69
*/



$colorOne:#eee2dc;
$colorOnePointFive:#f7dfd2;
$colorTwo:#edc7b7;
$colorThree:#bab2b5;
$colorFour:#ac3b61;
$colorFive:#123c69;


body {
background-color:$colorOne;
  color: $colorFive;
text-align: left;
font-family: 'Baloo Tamma 2', cursive;}

ul {
  list-style-type: none;
}

.articleLink {
  color: $colorFour;
  text-decoration:underline;
  cursor: pointer;
  font-size:16px;
}

.bodyContent{
  margin-top:125px;
}
p{
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;

}

h1{
  font-size:35pt;
}

h2{
  font-size:30pt;
}

h3{
  font-size:25pt;
}

h4{
  font-size:20pt;
}

hr{
  border-top: 1px solid $colorFive;
}

.bodyContent


.quote{
  font-style:italic;
}
.navbar-inverse {
    background-color: $colorTwo;
border: none;
    border-radius: 0}

.navbar-toggle{
  border: none;
  text-align:center;

}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $colorFour !important;
}

.navbarText{
  color:$colorFour!important;
  font-size:14pt;
}

.bold, .mediaName{
  font-weight: bold;
}

.bookTitle{
  font-weight: bold;
  font-style:italic;
}

.title{
margin: 120px 0px 40px 0px;
text-align:center;
}

.subheading{
  text-align:center;
}

.navbar-brand{
  width:200px;
  font-size:19pt!important;
}

.project{
margin:20px 0 20px 0;
padding:10px 10px 10px 10px;
font-size:16pt;
  border: 1px solid $colorFour;
  
  background-color:$colorOnePointFive;
}


.projectButton{
padding:5px 20px 0 20px;
color:white;
border:none;
font-size:16px;
border-radius:10px;
background-color:$colorFour;
display:inline

}

.projectLink{
  color:$colorTwo
}

.images{
  text-align:center;
}



.logo{
margin:10px 5px 10px 5px;
  height:40px;
  width:auto;
  
  display:inline
}

.projectButtons{
  text-align:center
}



#moreOne{display: none;}

#moreTwo{display: none;}


